@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

.who-section__text-description {
  color: white;
}

// Testimony section

.testimony__section-container {
  text-align: center;
  color: white;
}

.testimony__statements-description {
  text-align: center;
  font-style: italic;
  font-size: 12px;
  margin: 1.9rem;
  text-wrap: balance;
}

.testimony__statements-sub-title {
  text-align: center;
  margin-top: 1rem;
}

// footer

.footer-section__text-icons {
  color: white;
}

// modal

.modal {
  color: black;
}
