@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");

.who-section__text-description{
    color: white;
}

.testimony__section {
    color: white;
}

.footer-section__text-icons {
    color: white;
}

// modal

.modal {
    color: black;
}