.testimony__statements {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.testimony__statements-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 576px) {
    .testimony__statements {     // clase de ejemplo
         flex-direction: row;
  }
  }